@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #30318b;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
  /* outline: 1px solid red; */
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
  height: 90px;
  width: 100%;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

header.sticky {
  background-color: white;
  color: var(--color-primary);
  text-shadow: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header.sticky .brand {
  color: var(--color-primary);
}

header.sticky .brand img {
  filter: none;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

.brand img {
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.3));
}

nav .icon {
  display: flex;
  gap: 40px;
}

nav .icon i {
  font-size: 24px;
  cursor: pointer;
}

nav .icon li:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* link */
.menu {
  position: relative;
}

ul.link {
  position: absolute;
  right: 0;
  top: 50px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.352);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 300px;
  transform-origin: top right;
  transform: scale(0);
  transition: 0.3s;
}

ul.link.active {
  transform: scale(1);
}
li.menu a {
  color: black;
  text-shadow: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-weight: 600;
  width: 100%;
  transition: 0.2s;
}

li.menu a:hover {
  color: var(--color-primary);
}

/* jumbotron */
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  bottom: 0;
  position: absolute;
}

.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1504087825736-ec698faffd4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  color: white;
  transition: 5s;
  animation: slide 30s ease-in-out infinite alternate-reverse forwards;
}

.jumbotron .judul {
  position: absolute;
  z-index: 1;
  text-align: center;
  line-height: 60px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.judul h1 {
  font-size: 2rem;
}

.judul h4 {
  margin-bottom: 30px;
}

.judul a {
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@keyframes slide {
  0% {
    background-image: url(https://images.unsplash.com/photo-1482920387559-08269818bcfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  }

  50% {
    background-image: url(https://images.unsplash.com/photo-1575073776525-2cb8b4bd3f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  }

  75% {
    background-image: url(https://images.unsplash.com/photo-1593274655509-c76df95c10a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  }

  100% {
    background-image: url(https://images.unsplash.com/photo-1504087825736-ec698faffd4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  }
}

/* About */
.about {
  padding: 90px 9%;
}

.about h2 {
  padding-top: 40px;
  font-size: 28px;
  text-align: center;
  color: var(--color-primary);
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  padding: 80px;
}

.img-box {
  width: 450px;
  height: 450px;
  background-image: url(img/img2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.desc {
  width: 500px;
}

.desc p {
  text-align: justify;
  line-height: 30px;
}

.social-media {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-media a {
  color: var(--color-primary);
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  width: 26px;
  height: 26px;
  display: grid;
  place-items: center;
  transition: 0.2s;
}

.social-media a:hover {
  background-color: var(--color-primary);
  color: white;
}

/* Footer */
footer {
  background-color: #171821;
  color: #ddd;
  display: flex;
  padding: 40px 9%;
  justify-content: space-between;
}

footer a {
  color: white;
  letter-spacing: 0.7px;
  font-weight: 300;
  margin-bottom: 10px;
  display: inline-block;
  transition: 0.2s;
}

footer a:hover {
  color: #595bc0;
}

footer h3 {
  color: #595bc0;
  font-size: 20px;
  margin-bottom: 10px;
}

.brands-footer {
  width: 25%;
  text-align: center;
  margin-top: -8px;
}

.brands-footer > * {
  margin-bottom: 10px;
}

.brands-footer > *:last-child {
  margin: 0;
  color: #595bc0;
}
